@import "../../Utiles/mixins";

.navmobile {
  background-color: rgb(2, 2, 2);
  width: 100%;
  bottom: 0;
  @include inline-block;
  justify-content: space-around;
  height: fit-content;
  padding: 2%;
  position: fixed;
}
.icon {
  width: 10%;
}
img:nth-child(5) {
  width: 15%;
  margin-left: -5%;
}

@media screen and (min-width: 800px) {
  .navmobile {
    display: none;
  }
}
