.carrouselContainer {
  position: relative;

  &__title {
    font-size: 3vh;
    color: black;
    font-weight: 600;
    margin-left: 2%;
    margin-bottom: 2%;
  }
  &__sliderOverflow {
    display: flex;
    border-radius: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &__imgCarrousel {
      border-radius: 10px;
      width: 60%;
      scroll-snap-align: center;
      margin-left: 2%;
      filter: drop-shadow(0 20px 0.75rem black);
      margin-bottom: 12%;
    }
  }
  &__sliderOverflow::-webkit-scrollbar {
    display: none;
  }
}

.sliderOverflow::-webkit-scrollbar {
  width: 0;
}
@media screen and (min-width: 1000px) {
  .carrouselContainer__sliderOverflow__imgCarrousel {
    width: 25%;
  }
  .carrouselContainer__title {
    font-size: 4vh;
  }
}
