body {
  overflow-x: hidden;
}
.mainSwiper {
  margin-top: 2%;
  width: 110%;

  p {
    color: white;
    margin-left: 3%;
    font-size: x-large;
    font-weight: bold;
  }
  &__swiper {
    overflow-x: scroll;
    margin-left: 3%;

    &__slide {
      display: flex;
      width: 100%;
      &__link {
        justify-content: center;
        padding-top: 5%;

        margin-right: 10rem;
      }
      img {
        width: 34vw;
        height: auto;
        box-shadow: 0px 10px 11px black;
        border-radius: 3px;
        margin-bottom: 15%;
        transition: 250ms;
      }
      img:hover {
        scale: 1.1;
      }
    }
  }
}

.mainSwiper__swiper::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1000px) {
  .mainSwiper__swiper__slide__link {
    img {
      width: 20vw;
    }
  }
}
