.imgMini {
  height: auto;
  width: 50%;
  border-radius: 20px;
  margin-right: 3%;
}
.container {
  display: flex;
  width: 400px;
  height: 115px;
  background-color: rgba(29, 30, 43, 1);
  border-radius: 20px;
  align-items: center;
}
.videoTitle {
  font-size: 1.2rem;
  color: white;
}
