.mainSwiper {
  width: 100%;
  margin-top: 1%;
  &__swiper {
    &__slide {
      display: flex;
      &__link {
        justify-content: center;

        img {
          width: 100vw;
          height: 28vh;
          filter: drop-shadow(0 20px 0.75rem black);
          border-radius: 3px;
          margin-bottom: 10%;
          object-fit: contain;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
 
.mainSwiper__swiper__slide__link{
  img {
    width: 38vw;
    height: auto;
    filter: drop-shadow(0 20px 0.75rem black);
    border-radius: 3px;
    margin-bottom: 10%;
    object-fit: contain;
  }
}
}